* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #670000;
}
html {
    font-size: 16px;
  }
body {
    background-color: #ffefae;
     /* height: 100vh;  */
}

header {
    /* position: fixed; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    /* height:15vh; */
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    background-color: #ffefae;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 0px 30px 0px;
    padding-bottom: 30px;

    /* flex-direction: row-reverse; */
}
.logo {
    cursor: pointer;
    /* margin-right: auto; */
}

#navLinks {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#navLinks li {
    border-width: 5px;
    margin: 0px 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#navLinks li a {
    padding: 0px 20px;
    color: #670000;
    transition: all 0.3s ease 0s;
}

#navLinks li a:hover {
    
    color: #0088a9;
    border-bottom: 3px solid #000;
    padding-bottom: 15px;
    
}

.cta {
    padding: 20px 30px;
    transition: 0.6s;
    color: white;
    background-color: #950000;
    border: none;
    cursor: pointer;
    background-position: right;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 5px 5px 21px -4px #000000; 
    box-shadow: 5px 5px 21px -4px #000000;
    /* -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 21px -4px rgba(0,0,0,0); 
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 21px -4px rgba(0,0,0,0); */
}

.cta:hover {
    padding: 20px 45px;
    background-color: #670000;
    border: none;
    cursor: pointer;
    /* transition: all 0.3s ease 0s; */
}

.mid-section{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
        #banner h1{
            /* font-size: 15vw; */
            font-size: 15vw;
            font-weight: 500;
        }
        #banner span{
            font-size: 2vw;
            font-weight: 300;
        }
        .mid-section #container{
            flex-wrap: wrap;
            
        }
        #banner #desc{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-end;
                flex-wrap: wrap;
        
        }

      #about #container article{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            /* flex-wrap: wrap; */
        }

        #about #container article div h1{
            font-size: 7vw;
        }
        #about #container article div {
            display: flex;
            flex-direction: column;
            height: 100%;
/* max-width: 50%; */
justify-content: space-between;
        }
        #about #container article div p{
            font-size: 1vw;
        }
        #about #container article img{
            width: 40%;
        }