:root {
    --primary-color: #670000;
    --secondary-color: #ffefae;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* color: #670000; */
}

html {
    font-size: 16px;
}

body {
    background-color: var(--secondary-color);
    height: 100vh;
    color: #670000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

header.hor-header {
    /* position: fixed; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    /* height:15vh; */
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    background-color: #ffefae;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 0px 30px 0px;
    /* flex-direction: row-reverse; */
    transition: 0.2s;
    /* Add a transition effect (when scrolling - and font size is decreased) */
}

header.vert-header {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    /* right: 0px; */
    /* height:15vh; */
    position: fixed;
    width: 10%;
    height: 100vh;
    flex-wrap: wrap;
    background-color: #ffefae;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 0px 30px 0px;
    /* flex-direction: row-reverse; */
    transition: 0.2s;
    /* Add a transition effect (when scrolling - and font size is decreased) */
}

.logo {
    cursor: pointer;
    /* margin-right: auto; */
}

#navLinks.hor {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#navLinks.vert {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#navLinks li {
    border-width: 5px;
    margin: 0px 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#navLinks li a {
    padding: 0px 20px;
    color: var(--primary-color);
    transition: all 0.3s ease 0s;
}

#navLinks li a:hover {
    color: #0088a9;
    border-bottom: 3px solid #000;
    padding-bottom: 15px;
}

.cta {
    padding: 20px 30px;
    transition: 0.6s;
    color: white;
    background-color: #950000;
    border: none;
    cursor: pointer;
    background-position: right;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 5px 5px 21px -4px #000000;
    box-shadow: 5px 5px 21px -4px #000000;
    /* -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 21px -4px rgba(0,0,0,0); 
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 21px -4px rgba(0,0,0,0); */
}

.cta:hover {
    padding: 20px 45px;
    background-color: #670000;
    border: none;
    cursor: pointer;
    /* transition: all 0.3s ease 0s; */
}

.mid-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    /* flex-wrap: wrap; */
}

.mid-section-right-column {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: flex-end;
    /* flex-wrap: wrap; */
}

.mid-section-left-column {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    align-items: center;
    /* flex-wrap: wrap; */
}

.mid-section-left-column-redbg {
    color: var(--secondary-color);
    font-weight: 500;
    background-color: var(--primary-color);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    align-items: center;
    /* flex-wrap: wrap; */
}

.mid-section-left-column-redbg#experience h1 {
    font-size: 80px;
    color: whitesmoke;
    /* flex-wrap: wrap; */
}

.mid-section-left-column-redbg#experience a {
    font-size: 30px;
    color: var(--secondary-color);
    /* flex-wrap: wrap; */
}

.mid-section-left-column-redbg#experience span {
    font-size: 20px;
    color: whitesmoke;
    /* flex-wrap: wrap; */
}

.mid-section-left-column-redbg#experience h3 {
    font-size: 30px;
    color: var(--secondary-color);
    /* flex-wrap: wrap; */
}

.mid-section-left-row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    align-items: flex-start;
    /* flex-wrap: wrap; */
}

.mid-section-right-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    /* flex-wrap: wrap; */
}

.mid-section-center-row {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    /* height: 100vh; */
    width: 100%;
    align-items: center;
    /* flex-wrap: wrap; */
}

#banner h1 {
    /* font-size: 15vw; */
    font-size: 15vw;
    font-weight: 500;
}

#banner span {
    font-size: 2vw;
    font-weight: 300;
}

.mid-section #container {
    flex-wrap: wrap;
}

#banner #desc {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

/* second section */

.mid-section#about {
    height: 100vh;
    width: 95%;
    background-color: white;
}

.mid-section#about article {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mid-section#about article #first-half {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 100%;
}

.mid-section#about article #first-half div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 40%;
}

.mid-section#about article #first-half img {
    width: 40%;
}

.mid-section#about article #first-half div h1 {
    font-size: 100px;
}

.mid-section#about article #first-half div p {
    font-weight: 500;
    font-size: 20px;
}

.mid-section#about article #second-half {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.mid-section#about article #second-half div span {
    font-size: 40px;
}

.mid-section#about article #second-half div p {
    font-weight: 500;
}